/* Start Global Rules */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
* {
    box-sizing: border-box;
}
*:focus {
    outline: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}
textarea {
    resize: none;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}
/* End Global Rules */
/* Start Components */
.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.toggle-switch {
    width: 64px;
    height: 22px;
    background-color: #ccc;
    border-radius: 16px;
    position: relative;
    transition: .3s;
    cursor: pointer;
}
@media (max-width: 767px) {
    .toggle-switch {
        margin: auto;
    }
}
.toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    font-size: 10px;
    position: absolute;
    background-color: white;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 4px;
    left: 4px;
    color: #aaa;
    transition: .3s;
}
.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
    content: "\f00c";
    left: 46px;
}
/* End Components */
/* Start Page */
.page {
    background-color: #e6e6e6;
    min-height: 100vh;
}
.sidebar {
    box-shadow: 0 0 10px #ddd;
    width: 250px;
}
.sidebar > h3 {
    margin-bottom: 50px;
}
@media (min-width: 768px) {
    .sidebar > h3::before,
    .sidebar > h3::after {
        content: "";
        position: absolute;
        left: 50%;
        background-color: black;
        transform: translateX(-50%);
    }
    .sidebar > h3::before {
        bottom: -20px;
        width: 80px;
        height: 2px;
    }
    .sidebar > h3::after {
        width: 12px;
        height: 12px;
        bottom: -29px;
        border-radius: 50%;
        border: 3px solid white;
    }
}
@media (max-width: 767px) {
    .sidebar {
        width: 62px;
        padding: 10px;
    }
    .sidebar > h3 {
        font-size: 16px;
        margin-bottom: 15px;
    } 
    .sidebar > h3::before,
    .sidebar > h3::after {
        display: none;
    }
}
.sidebar ul li a {
    margin-bottom: 20px;
    transition: .3s;
}
.sidebar ul li a:hover,
.sidebar ul li .active {
    background-color: #eee9e9;
}
.sidebar ul li a span {
    margin-left: 12px;
    font-size: 14px;
}
/* End Page */
/* Start Content H1 + Wrapper + Head */
.content {
    overflow: hidden;
}
.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--grey-color);
    font-size: 14px;
}
.head .search input {
    padding-left: 35px;
    margin-left: 5px;
    width: 190px;
    transition: .3s;
}
.head .search input:focus {
    width: 220px;
}
.head .search input::placeholder {
    transition: .3s;
}
.head .search input:focus::placeholder {
    opacity: 0;
}
.head .icons .noti::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--red-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.head .icons img {
    width: 32px;
    height: 32px;
}
.content h1 {
    margin: 20px 20px 40px;
}
.content h1::before,
.content h1::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
} 
.content h1::before {
    background-color: #eee;
    width: 140px;
}
.content h1::after {
    width: 50px;
    background-color: black;
}
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-right: 10px;
        margin-left: 10px;
        gap: 10px;
    }
}
/* End Content H1 + Wrapper + Head */
/* Start Welcome Widget */
.welcome {
    overflow: hidden;
}
@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
}
.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}
.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -25px;
} 
@media (max-width: 767px) {
    .welcome .avatar {
        margin-left: 0;
    }
}
.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body > div {
    flex: 1;
}
@media (max-width: 767px) {
    .welcome .body > div:not(:last-child) {
        margin-bottom: 30px;
    }
}
.welcome .visit {
    margin: 0 15px 15px auto;
    transition: .3s;
}
.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}
/* End Welcome Widget */
/* Start Qucik Draft */
.draft textarea {
    min-height: 180px;
}
.draft .save {
    margin-left: auto;
    transition: .3s;
    cursor: pointer;
}
.draft .save:hover {
    background-color: var(--blue-alt-color);
}
/* End Qucik Draft */
/* Start Targets */
.targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.targets .details {
    flex: 1;
}
.targets .details .progress {
    height: 4px;
}
.targets .details .progress > span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.targets .details .progress > span span {
    position: absolute;
    right: -16px;
    bottom: 16px;
    padding: 2px 5px;
}
.targets .details .progress > span span::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
}
.targets .details .progress > .blue span::before {
    border-top-color: var(--blue-alt-color);
}
.targets .details .progress > .orange span::before {
    border-top-color: var(--orange-alt-color);
}
.targets .details .progress > .green span::before {
    border-top-color: var(--green-alt-color);
}
.targets .blue .icon,
.targets .blue .progress {
    background-color: rgb(0 117 255 / 20%);
}
.targets .orange .icon,
.targets .orange .progress {
    background-color: rgb(245 158 11 / 20%);
}
.targets .green .icon,
.targets .green .progress {
    background-color: rgb(34 197 94 / 20%);
}
/* End Targets */
/* Start Tickets */
.tickets .box {
    width: calc(50% - 10px);
}
@media(max-width: 767px) {
    .tickets .box {
        width: 100%;
    }
}
/* End Tickets */
/* Start News */
.news .news-row:not(:last-of-type) {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
@media (max-width: 767px) {
    .news .news-row {
        display: block;
    }
    .news .news-row .label {
        width: fit-content;
        margin: 15px auto;
    }
    .news .news-row img {
        margin-right: 0;
    }
}
/* End News */
/* Start Tasks */
.tasks .task-row:not(:last-of-type) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.tasks .done {
    opacity: .3;
}
.tasks .done h3,
.tasks .done p {
    text-decoration: line-through;
}
.tasks .task-row .delete {
    cursor: pointer;
    transition: .3s;
}
.tasks .task-row .delete:hover {
    color: var(--red-color);
}
.tasks .done .delete {
    cursor: no-drop;
}
/* End Tasks */
/* Start Uploads */
.uploads ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
/* End Uploads */
/* Start Projects */
.projects ul::before {
    content: "";
    width: 2px;
    height: 97%;
    position: absolute;
    background-color: var(--blue-color);
    left: 11px;
}
.projects ul li::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    border-radius: 50%;
    z-index: 1;
    margin-right: 15px;
}
.projects ul li.done::before {
    background-color: var(--blue-color);
}
.projects ul li.current::before {
    animation: change-color .8s infinite alternate;
}
.projects .icon {
    position: absolute;
    width: 170px;
    right: 0;
    bottom: 0;
    opacity: .3;
}
/* End Projects */
/* Start Reminders */
.reminders ul li .key {
    width: 14px;
    height: 14px;
}
.reminders ul li .blue {
    border-left: 3px solid var(--blue-color);
}
.reminders ul li .green {
    border-left: 3px solid var(--green-color);
}
.reminders ul li .orange {
    border-left: 3px solid var(--orange-color);
}
.reminders ul li .red {
    border-left: 3px solid var(--red-color);
}
/* End Reminders */
/* Start Post */
.post .post-content {
    text-transform: capitalize;
    line-height: 1.8;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    min-height: 140px;
}
/* End Post */
/* Start Social Media */
.social-media .box {
    padding-left: 70px;    
}
.social-media .box i {
    position: absolute;
    left: 0;
    top: 0;
    transition: .3s;
    width: 52px;
}
.social-media .box i:hover {
    transform: rotate(5deg);
}
.social-media .twitter {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}
.social-media .twitter i,
.social-media .twitter a {
    background-color: #1da1f2;
}
.social-media .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1877f2;
}
.social-media .facebook i,
.social-media .facebook a {
    background-color: #1877f2;
}
.social-media .youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}
.social-media .youtube i,
.social-media .youtube a {
    background-color: #ff0000;
}
.social-media .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}
.social-media .linkedin i,
.social-media .linkedin a {
    background-color: #0077b5;
}
/* End Social Media */
/* Start Project-Table */
.projects .respo-table {
    overflow-x: auto;
    border-spacing: 0;
}
.projects table {
    min-width: 1000px;
} 
.projects table thead td {
    background-color: #eee;
    font-weight: bold;
}
.projects table td {
    padding: 15px;
}
.projects table tbody td {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    transition: .3s;
}
.projects table tbody tr td:last-child {
    border-right: 1px solid #ccc;
}
.projects table tr:hover td {
    background-color: #faf7f7;
}
.projects table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}
.projects table img:not(:first-child) {
    margin-left: -20px;
}
/* End Project-Table */
/* Start Settings */
.settings-page {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
    .settings-page {
        grid-template-columns: minmax(100px, 1fr);
        gap: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
}
.site-control .close-message {
    border: 1px solid #ccc;
    border-radius: 6px;
    min-height: 140px;
    padding: 10px;
}
/* End Settings */
/* Start Security */
.security > div:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
}
/* End Security */
/* Start Social Info */
.settings-page .social-info i {
    height: 40px;
    width: 40px;
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    border-right: 0;
    border-radius: 6px 0 0 6px;
    transition: .3s;
}
.settings-page .social-info input {
    height: 40px;
    width: 100%;
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    border-radius: 0 6px 6px 0;
    padding-left: 15px;
}
.settings-page .social-info > div:focus-within i {
    color: black;
}
/* End Social Info */
/* Start Widgets-Control */
.widget-control .control input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.widget-control .control label {
    padding-left: 30px;
    cursor: pointer;
    position: relative; 
}
.widget-control .control label:before {
    content: "";
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.widget-control .control label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    width: 18px;
    height: 18px;
    background-color: var(--blue-color);
    color: white;
    border-radius: 4px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0) rotate(360deg);
    transition: .3s;
}
.widget-control .control input[type="checkbox"]:checked + label::after {
    transform: translateY(-50%) scale(1);
}
/* End Widgets-Control */
/* Start Backup */
.backup-control input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.backup-control .date label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.backup-control .date label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border-width: 2px;
    border-color: var(--grey-color);
    border-style: solid;
}
.backup-control .date label::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    background-color: var(--blue-color);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    transition: .3s;
}
.backup-control .date input[type="radio"]:checked + label::before {
    border-color: var(--blue-color);
}
.backup-control .date input[type="radio"]:checked + label::after {
    transform: translateY(-50%) scale(1);
}
.backup-control .servers {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    gap: 10px;
}
@media (max-width: 767px) {
    .backup-control .servers {
        flex-wrap: wrap;
    }
}
.backup-control .servers .server {
    border: 2px solid #ccc;
    position: relative;
}
.backup-control .servers .server label {
    cursor: pointer;
}
.backup-control .servers input[type="radio"]:checked + .server {
    border-color: var(--blue-color);
    color: var(--blue-color);
}
/* End Backup */
/* Start Profile Page */
@media (max-width: 767px) {
    .profile-page .overview {
        flex-direction: column;
    }
}
.profile-page .avatar-box {
    width: 300px;
}
@media (min-width: 768px) {
    .profile-page .avatar-box {
        border-right: 1px solid #eee;
    }
}
.profile-page .avatar-box .level {
    height: 6px;
    width: 70%;
    margin: auto;
    overflow: hidden;
    background-color: #e0e0e0;
}
.profile-page .avatar-box .level span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 6px;
}
.profile-page .info-box .box {
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    transition: .3s;
}
.profile-page .info-box .box:hover {
    border-color: #f9f9f9;
}
.profile-page .info-box .box > div {
    min-width: 300px;
    padding: 10px 0 0;
}
@media (max-width: 767px) {
    .profile-page .info-box .box > div {
        min-width: 100%;
        margin-top: 10px;
    }
}
/* End Profile Page */
/* Start Other Data */
@media (max-width: 767px) {
    .profile-page .other-data {
        flex-direction: column;
    }
}
.profile-page .skills-card {
    flex-grow: 1;
}
.profile-page .skills-card ul li {
    padding: 20px 0;
}
.profile-page .skills-card ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.profile-page .skills-card ul li:last-child {
    padding-bottom: 0px;
}
.profile-page .skills-card ul li span {
    background-color: #eee;
    border-radius: 6px;
    margin-right: 5px;
    padding: 4px 10px;
    font-size: 14px;
}
.profile-page .actvs {
    flex-grow: 2;
}
.profile-page .activity img {
    width: 62px;
    height: 62px;
    margin-right: 15px;
}
.profile-page .activity:not(:last-child) {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
@media (max-width: 767px) {
    .profile-page .info {
        margin-bottom: 25px;
    }
    .profile-page .activity {
        flex-direction: column;
    }
    .profile-page .activity img {
        margin-right: 0;
        margin-bottom: 15px;
    }
}
@media (min-width: 768px) {
    .profile-page .date {
        margin-left: auto;
        text-align: right;
    }
}
/* End Other Data */
/* Start Projects Page */
.projects-page {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media(max-width: 767px) {
    .projects-page {
        grid-template-columns: minmax(200px, 1fr);
        gap: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
}
.projects-page .project .date {
    position: absolute;
    top: 10px;
    right: 10px;
}
.projects-page .project .team {
    padding: 20px 0;
    position: relative;
    min-height: 80px;
}
.projects-page .project .team a {
    position: absolute;
    left: 0;
}
.projects-page .project .team a:nth-child(2) {
    left: 25px;
}
.projects-page .project .team a:nth-child(3) {
    left: 50px;
}
.projects-page .project .team a:nth-child(4) {
    left: 75px;
}
.projects-page .project .team a:nth-child(5) {
    left: 100px;
}
.projects-page .project .team a:hover {
    z-index: 24;
}
.projects-page .project .team img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}
.projects-page .project .do {
    justify-content: flex-end;
    margin: 15px 0;
    padding: 15px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.projects-page .project .do span {
    margin-left: 15px;
}
@media (max-width: 767px) {
    .projects-page .project .do {
        flex-direction: column;
    }
    .projects-page .project .do span {
        margin: 10px auto;
    }
}
@media (max-width: 767px) {
    .projects-page .project .info {
        flex-direction: column;
        gap: 15px;
    }
}
.projects-page .project .info .prog {
    width: 180px;
    height: 8px;
}
.projects-page .project .info .prog span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
/* End Projects Page */
/* Start Courses Page */
.courses-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media(max-width: 767px) {
    .courses-page {
        grid-template-columns: minmax(200px, 1fr);
        gap: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
}
.courses-page .course {
    overflow: hidden;
}
.courses-page .course .cover {
    width: 100%;   
}
.courses-page .course .instructor {
    position: absolute;
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    top: 20px;
    left: 20px;
}
.courses-page .course .info {
    border-top: 1px solid #eee;
}
.courses-page .course .info .title {
    position: absolute;
    left: 50%;
    top: -13px;
    height: 27px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End Courses Page */
/* Start Friends Page */
.friends-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
    .friends-page {
        grid-template-columns: minmax(200px, 1fr);
        gap: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
}
.friends-page .friend .contact {
    position: absolute;
    top: 10px;
    left: 10px;
}
.friends-page .friend .contact i {
    padding: 10px;
    border-radius: 50%;
    background-color: #eee;
    color: var(--grey-color);
    cursor: pointer;
    transition: .3s;
}
.friends-page .friend .contact i:hover {
    background-color: var(--blue-color);
    color: white;
}
.friends-page .friend .icons {
    padding: 15px 0;
    margin: 15px 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}
.friends-page .friend .icons i {
    margin-right: 5px;
}
.friends-page .friend .icons .vip {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: .3;
}
/* End Friends Page */
/* Start Files Page */
.files-page {
    flex-direction: row-reverse;
    align-items: flex-start;
}
@media (max-width: 767px) {
    .files-page {
        flex-direction: column;
        align-items: normal;
    }
}
.files-page .files-stats {
    min-width: 260px;
}
.files-page .files-stats .icon {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    margin-right: 10px;
}
.files-page .files-stats .blue {
    background-color: rgb(0 117 255 / 20%);
}
.files-page .files-stats .green {
    background-color: rgb(34 197 94 / 20%)
}
.files-page .files-stats .red {
    background-color: rgb(244 67 54 / 20%);
}
.files-page .files-stats .orange {
    background-color: rgb(245 158 11 / 20%);
}
.files-page .files-stats .size {
    margin-left: auto;
}
.files-page .files-stats .upload {
    padding: 10px 15px;
    margin: 15px auto 0;
    transition: .3s;
}
.files-page .files-stats .upload:hover {
    background-color: var(--blue-alt-color);
}
.files-page .files-stats .upload:hover i {
    animation: go-up .8s infinite;
}
.files-page .files-content {
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.files-page .files-content img {
    width: 64px;
    height: 64px;
    transition: .3s;
}
.files-page .files-content .file:hover img {
    transform: rotate(5deg);
}
.files-page .files-content .file .info {
    border-top: 1px solid #eee;
}
/* End Files Page */
/* Start Plans Page */
.plans-page {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
    .plans-page {
        grid-template-columns: minmax(250px, 1fr);
        gap: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
}
.plans-page .plan .top {
    border: 3px solid white;
    outline: 3px solid transparent;
    margin-bottom: 20px;
}
.plans-page .plan.green .top {
    outline-color: var(--green-color);
}
.plans-page .plan.blue .top {
    outline-color: var(--blue-color);
}
.plans-page .plan.orange .top {
    outline-color: var(--orange-color);
}
.plans-page .plan .top h2 {
    font-size: 30px;
}
.plans-page .plan .price {
    font-size: 40px;
    position: relative;
    width: fit-content;
    margin: auto;
}
.plans-page .plan .price span {
    font-size: 26px;
    position: absolute;
    top: 0;
    left: -20px;
}
.plans-page .plan ul li {
    font-size: 15px;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}
.plans-page .plan ul li .yes {
    color: var(--green-color);
}
.plans-page .plan ul li i:not(.yes, .help) {
    color: var(--red-color);
}
.plans-page .plan ul li i:first-child {
    margin-right: 10px;
    font-size: 18px;
}
.plans-page .plan ul li .help {
    color: var(--grey-color);
    margin-left: auto;
}
/* End Plans Page */
/* Start Animation */
@keyframes change-color {
    from {
        background-color: var(--blue-color);
    }
    to {
        background-color: white;
    }
}
@keyframes go-up {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
} 
/* End Animation */